{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parolingiz esdan chiardimi?{% endblock title %}

{% block content %}
<div class="conteiner-fluid" style="width: 70%; margin:auto;">
    <h2>Parolingiz esdan chiardimi?</h2>
    <p>Quyida email manzilingizni kiriting, biz sizga parolni tiklash uchun qo`llanma yuboramiz.</p>
    <form method="post">{% csrf_token %}
        <!-- crispyni ishlatish ucun form.as_p ni form|crispy deb o`zgartiramiz -->
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Yuborish">
    </form>
</div>
{% endblock content %}