{% extends 'base.html' %}

{% block title %}2-kurs dars jadvali{% endblock title %}
{% block content %}
    <!-- <div class="card-group" style="width: 90%; margin: auto;" > -->
     {% for ikkinchi in object_list %}
          <div class="card" style="margin: auto;  width: 70%; margin-bottom: 1%;">
               <div class="card-header">
                    <span class="font-weight-bold" style="width: 100%;" ><h2  style="margin: auto; text-align:center">{{ ikkinchi.title }}</h2></span>
               </div>
               {% if ikkinchi.photo %}
                    <img src="{{ ikkinchi.photo.url }}" alt="{{ ikkinchi.title }}" class="card-img-top">
               {% endif %}
               <div class="card-body">
                <p class="card-text">{{ ikkinchi.body | safe }}</p>    
               </div>
               {% if user.is_superuser %}
                    <a href="{% url 'ikkinchi_edit' ikkinchi.pk %}" class="btn btn-primary" style="margin-bottom: 1%;">Tahrirlash</a> 
                    <a href="{% url 'ikkinchi_delete' ikkinchi.pk %}" class="btn btn-danger">O`chirish</a> 
               {% endif %}
               <div class="card-footer text-left text-muted">
                    <span class="text-muted">muallif {{ ikkinchi.author | title}} . {{ ikkinchi.date }}</span>
               </div>
          </div>
     {% endfor %}
     <!-- </div> -->
          
{% endblock content %}