{% extends 'base.html' %}

{% block title %}1-kurslar dars jadvali{% endblock title %}
{% block content %}
    <!-- <div class="card-group" style="width: 90%; margin: auto;" > -->
     {% for birinchi in object_list %}
          <div class="card" style="margin: auto;  width: 70%; margin-bottom: 1%;">
               <div class="card-header">
                    <span class="font-weight-bold" style="width: 100%;" ><h2  style="margin: auto; text-align:center">{{ birinchi.title }}</h2></span>
               </div>
               {% if birinchi.photo %}
                    <img src="{{ birinchi.photo.url }}" alt="{{ birinchi.title }}" class="card-img-top">
               {% endif %}
              
               <div class="card-body">
                <p class="card-text">{{ birinchi.body | safe }}</p>    
               </div>
               {% if user.is_superuser %}
                    <a href="{% url 'birinchi_edit' birinchi.pk %}" class="btn btn-primary" style="margin-bottom: 1%;">Tahrirlash</a> 
                    <a href="{% url 'birinchi_delete' birinchi.pk %}" class="btn btn-danger">O`chirish</a> 
               {% endif %}
               <div class="card-footer text-left text-muted">
                    <span class="text-muted">muallif {{ birinchi.author | title}} . {{ birinchi.date }}</span>
               </div>
          </div>
     {% endfor %}
     <!-- </div> -->
          
{% endblock content %}