{% extends 'base.html' %}

{% block title %}Yangiliklar{% endblock title %}
{% block content %}
<!-- <div class="card-group" style="width: 90%; margin: auto;" > -->
<div class="row row-cols-1 row-cols-md-3" style="width: 90%; margin: auto;" >
     {% for article in object_list %}
     <div class="col mb-4">
          <div class="card">
               {% if article.photo %}
               <img src="{{ article.photo.url }}" alt="article.title" class="card-img-top">
               {% endif %}

               <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h5>
                    <p class="card-text">{{ article.summary }}... 
                         <a href="{% url 'article_detail' article.pk %}">Batafsil</a>
                    </p>
               </div>
               <div class="card-footer text-left text-muted">
                    <span class="text-muted">muallif {{ article.author | title}} . {{ article.date }}</span>
               </div>
          </div>
     </div>
     {% endfor %}
</div>
<!-- </div> -->

{% endblock content %}