{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Tahrirlash{% endblock title %}

{% block content %}
<div class="conteiner-fluid" style="width: 70%; margin:auto;">
    <h2>Tahrirlash</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <!-- crispyni ishlatish ucun form.as_p ni form|crispy deb o`zgartiramiz -->
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Saqlash</button>
    </form>
</div>

{% endblock content %}